{% extends 'block/base.html' %}
{% block title %} FF {% endblock %}

{% block corp %}
    <section>
    <h2>Les Réservations :</h2>
    {% for reservation in reservations %}
        <h4>
            Réservations numéro : {{ reservation.id_reservation }}<br/>
            Titre du Cours : {{ reservation.cours }}<br/>
            Utilisateurs Réserver : {{ reservation.user }}<br/>
            Numéro de Réservation : {{ reservation.id_reservation }}<br/>
        </h4>
    {% endfor %}
    </section>
{% endblock %}