{% extends 'block/base.html' %}
{% block title %} FF {% endblock %}

{% block corp %}
    <section>
    <h2>Automobile</h2>
            <h4>
                Numéro du cours : {{ coursPilotage1.id_cours }}<br/>
                Type de cours : {{ coursPilotage1.id_type }}<br/>
                Véhicule : {{ coursPilotage1.id_vehicule }}<br/>
            </h4>
            <h4>
                Numéro du cours : {{ coursPilotage2.id_cours }}<br/>
                Type de cours : {{ coursPilotage2.id_type }}<br/>
                Véhicule : {{ coursPilotage2.id_vehicule }}<br/>
            </h4>
            <h4>
                Numéro du cours : {{ coursPilotage3.id_cours }}<br/>
                Type de cours : {{ coursPilotage3.id_type }}<br/>
                Véhicule : {{ coursPilotage3.id_vehicule }}<br/>
            </h4>

    </section>
{% endblock %}